body {
	background-color: lavender;
	font-family: Helvetica, sans-serif;
}

header, footer, div {
	border-radius: 5px;
}

h3 {
	font-weight: normal;
	text-align: center;
}

header, footer {
	text-align: center;
	height: 100px;
	padding: 10px 0px 20px 0px;
	background-color: mediumslateblue;
	color: white;
}

footer {
	padding-bottom: 5px;
	clear: right;
}

div {
	margin: 10px 0px 10px 0px;
}

a:link {
	color: hotpink;
}

a:visited {
	color: orange;
}

a:hover {
	color:fuchsia;
}

#info, #content {
	border: 1px solid black;
	background-color: aliceblue;
	padding: 5px;
}

#info {
	width: 200px;
	float: right;
}

#content {
	margin-right: 230px;
}

img {
	display: block;
	margin: auto;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
}

td, th {
	border: 2px groove gray;
	padding: 5px;
}

th, .colorful {
	background-color: silver;
}

fieldset {
	border-radius: 5px;
	margin-top: 10px;
	background-color: aliceblue;
}

.separate {
	margin-bottom: 10px;
}


