<div class="card card-fluid text-center" style="width: 120rem;">
  <div class="card-body">
    <h1 class="card-title">Welcome to the SATX DevOps class project</h1>
    <h3 class="card-text">Abandon GUI all ye who enter here!<h3>
    <a href="#" class="btn btn-primary btn-lg ">Enter site</a>
  </div>
</div>

<!--<h1>Welcome to the SATX DevOps class project</h1>
<p>Abandon GUI all ye who enter here</p>
