<div class="card card-fluid text-center">
  <div class="card-body">
    <h1 class="card-title">Welcome to the SATX DevOps class project</h1>
    <h3 class="card-text">Abandon GUI all ye who enter here!<h3>
    <%= link_to 'Enter Site', students_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>

<!--<h1>Welcome to the SATX DevOps class project</h1>
<p>Abandon GUI all ye who enter here</p>
