<!--Jumbotron-->
<div class="row mb-5">
    <div class="col-md-12">
        <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/forest1.jpg);">
            <div class="text-white text-center rgba-stylish-weak py-5 px-4">
                <div class="py-5">

                    <!--Content-->
                        <h2 class= pink-text font-bold"><i class="fa fa-camera-retro fa-2x"></i> DevOps</h2>
                        <h2 class="card-title pt-3 mb-5 font-bold black-text">Welcome to the SATX DevOps class project</h2>
                        <h3><p class="px-5 pb-4 black-text">Abandon GUI all ye who enter here!</p>
                        <a class="btn black"><i class="fa fa-clone left"></i> Enter Site</a></h3>
                    <!--Content-->

                </div>
            </div>
        </div>
    </div>
</div>
<!--Jumbotron-->
