<h1>Recruiters</h1>
<%= link_to "Sign up as a Recruiter", new_recruiter_path(@recruiter), class: "btn btn-lg btn-info" %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Company</th>
      <th>Location</th>
      <th>Skills Sought</th>
    </tr>
  </thead>

  <tbody>
    <% @recruiters.each do |recruiter| %>
      <tr>
        <td><%= link_to recruiter.name, recruiter_path(id: recruiter.id) %></td>
        <td><%= recruiter.company %></td>
        <td><%= recruiter.location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
